body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.minha-foto {
    border-radius: 150px;
}

.grande {
    font-size: large;
}

.medio {
    font-size: medium;
}

.pequeno {
    font-size: small;
}

#minha-foto {
    float: left;
    height: 300px;
}

.image-container {
    height: 300px;
        
}

#quem {
    width: 250px;
    float: right;
    font-size: large;
}

div {
    border: 2px solid green
}
